.main {
   background-color: rgb(75, 76, 73);
   padding-bottom: 2.5vw;
   text-align: center;
   color: rgb(246, 109, 211);
   font-size: 25px;

}

.home
{
    position: absolute;
    top: 2%;
    left:2%;
    transition: 1s;
}

.restart
{
    position: absolute;
    top: 2%;
    right:2%;
    transition: 1s;
}

.home:hover{
    scale: 1.15;

}
.home_img
{
    height: 5vh;
    transition: 1s;
}

.restart:hover
{
    scale: 1.15;
}


.conclusion
{
    padding: 1vw;;
   display: flex;
   justify-content: center;
   gap: 50px;
   align-items: center; 
}

.tbl{
  text-align: center;
}
table, th, td {
    font-size: 1.1vw;
    border:2px solid rgb(220, 49, 49);
  }

  .computer {
    background-color: chartreuse;
    margin: 0 auto;
    text-align: center;
    padding: 2vh;
    color: rgb(39, 39, 236);
}


.com_roll {
    background-color: rgb(75, 76, 73);
    margin: 0 auto;
    height: 19vh;
    width: 20vh;
    /* padding: 2vh; */
    border-radius: 7vh;
    text-align: center;
}


.com_roll img {
    margin-top: 1vw;
    height: 15vh;
    width: 7vw;
}


.round_parent
{
    display: flex;
    justify-content: center;
    padding: 2vw;;
   display: flex;
   justify-content: center; 
   /* margin: 2vw; */
}

.round_child
{
    background-color: rgb(139, 240, 240);
    color: rgb(18, 14, 6);
    font-size: 3.5vh;
    top:37vh;
    right:15vw;
    height: 20vh;
    width: 15vw;
    border-radius: 3vh;
}


.player {
   background-color: coral;
   border-radius: 40px;
   width: 65vh;
    margin: 1vh auto;
    text-align: center;
    padding: 3vh ;
    

}

.player img {
    height: 8vh;
    width: 8vh;
    
}



.btn {
    background-color: aquamarine;
    border: none;
    border-radius: 40px;
    padding: 20px;
    margin: 0 13px;
    transition: 1s;
}

.btn:hover
{
    transform: scale(1.1);
}
.orange
{
    color: orange;
}


.green
{
    color: green;
}
.red
{
    color:red;
}